*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-align: left;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img {
  border: 0;
}
#__nuxt {
  overflow-y: auto;
}
#__nuxt h1 {
  font-size: 3.6rem;
  position: relative;
  text-align: center;
  transition: 0.25s;
}
#__nuxt h2 {
  font-size: 2.4rem;
}
#__nuxt h3 {
  font-size: 2.2rem;
  padding: 15px 5px;
}
#__nuxt h4 {
  font-size: 2rem;
  padding: 5px 0px;
}
#__nuxt p {
  line-height: 1.6;
  font-size: 1.8rem;
}
#__nuxt p img {
  max-width: 100%;
  border-radius: 4px;
}
#__nuxt header {
  background-color: #fff;
}
#__nuxt header .head-icon {
  cursor: pointer;
  height: 60px;
  display: inline-block;
}
#__nuxt header .head-menu {
  display: block;
  line-height: 64px;
  height: 64px;
  border: 0;
  float: right;
}
#__nuxt footer {
  text-align: center;
  padding: 15px;
  background-color: #303133;
  color: #ecf5ff;
}
#__nuxt footer span {
  padding: 5px;
}
#__nuxt footer span a {
  color: #aaa;
}
#__nuxt .dash-center {
  text-align: center;
  background: #512bd4;
  background-image: url(../images/home-hero-bg.svg), linear-gradient(180deg, #7014e8 30.12%, #0e5ecf 192.47%);
  padding: 30px 5px;
}
#__nuxt .dash-center h1 {
  font-family: 'Varela Round';
  color: #ecf5ff;
  font-size: 3.5rem;
  padding: 20px 0px;
  font-weight: normal;
}
#__nuxt .dash-center h2 {
  color: #ecf5ff;
  font-weight: normal;
}
#__nuxt .dash-center a {
  margin: 10px;
  width: 200px;
  color: #ecf5ff;
  height: 40px;
}
#__nuxt .dash-center .breadcrumb {
  color: #ecf5ff;
  font-size: 1.6rem;
  text-align: left;
}
#__nuxt .dash-center .page-info {
  color: #ecf5ff;
}
#__nuxt .dash-center span {
  margin: 5px;
}
#__nuxt .author {
  text-align: center;
}
#__nuxt .author .name {
  text-align: center;
}
#__nuxt .author .description {
  font-size: medium;
}
#__nuxt .author-icon {
  height: 96px;
}
#__nuxt .blog-list-item {
  margin: 5px;
  width: 100%;
}
#__nuxt .blog-list-item h4 {
  font-size: 1.8rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
#__nuxt .blog-list-item h4 a {
  color: #262626;
}
#__nuxt .blog-list-item h4 a:visited {
  color: #262626;
}
#__nuxt .blog-list-item h4 a:hover {
  color: #e5494c;
}
#__nuxt .blog-list-item h4 span {
  font-weight: lighter;
}
#__nuxt .blog-list-item .tag {
  font-size: 1.4rem;
  padding-top: 5px;
  color: #606266;
}
#__nuxt .blog-list-item .tag span {
  margin: 5px;
}
#__nuxt .blog-relate-item {
  width: 100%;
}
#__nuxt .blog-relate-item a {
  font-size: 1.8rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
#__nuxt .blog-relate-item a::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #fd7e14;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
#__nuxt .hot-blogs,
#__nuxt .recommend-blog {
  padding: 20px 10px 10px 24px;
  position: relative;
}
#__nuxt .hot-blogs h3::before,
#__nuxt .recommend-blog h3::before {
  content: '';
  position: relative;
  left: 0px;
  bottom: -40px;
  display: block;
  width: 70px;
  height: 2px;
  background: #8167e0;
}
#__nuxt .hot-blogs a,
#__nuxt .recommend-blog a {
  font-size: 1.6rem;
  color: #262626;
}
#__nuxt .hot-blogs a:visited,
#__nuxt .recommend-blog a:visited {
  color: #071018;
}
#__nuxt .hot-blogs a:hover,
#__nuxt .recommend-blog a:hover {
  color: #e5494c;
}
#__nuxt .category-tag span {
  margin: 10px;
  padding: 5px;
  border-left: 6px solid #512bd4;
  cursor: pointer;
}
