*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img {
  border: 0;
}
#knifez-blog {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
#knifez-blog h1 {
  font-size: 3.6rem;
  position: relative;
  text-align: center;
  transition: 0.25s;
}
#knifez-blog h2 {
  font-size: 2.4rem;
}
#knifez-blog h3 {
  font-size: 2.2rem;
  padding: 15px 5px;
}
#knifez-blog h4 {
  font-size: 2rem;
  padding: 5px 0px;
}
#knifez-blog p {
  line-height: 1.6;
  font-size: 1.8rem;
}
#knifez-blog p img {
  max-width: 100%;
  border-radius: 4px;
}
#knifez-blog header {
  padding: 0px;
}
#knifez-blog footer {
  text-align: center;
  padding: 10px;
  background-color: #303133;
  color: #ecf5ff;
}
#knifez-blog footer span {
  padding: 5px;
}
#knifez-blog footer span a {
  color: #ecf5ff;
}
#knifez-blog main {
  min-height: 80vh;
}
#knifez-blog .el-avatar > img {
  width: 100%;
}
#knifez-blog .dash-center {
  text-align: center;
  background: #512bd4;
  background-image: url(../../static/images/home-hero-bg.svg), linear-gradient(180deg, #7014e8 30.12%, #0e5ecf 192.47%);
  padding: 30px 5px;
  margin-bottom: 10px;
}
#knifez-blog .dash-center h1 {
  font-family: 'Varela Round';
  color: #ecf5ff;
  font-size: 3.5rem;
  padding: 20px 0px;
  font-weight: normal;
}
#knifez-blog .dash-center h2 {
  color: #ecf5ff;
  font-weight: normal;
}
#knifez-blog .dash-center a {
  margin: 10px;
  width: 200px;
  color: #ecf5ff;
  height: 40px;
}
#knifez-blog .dash-center .breadcrumb {
  color: #ecf5ff;
  font-size: 1.6rem;
  text-align: left;
}
#knifez-blog .dash-center .page-info {
  color: #ecf5ff;
}
#knifez-blog .dash-center span {
  margin: 5px;
}
#knifez-blog .author {
  text-align: center;
}
#knifez-blog .author .name {
  text-align: center;
}
#knifez-blog .author .description {
  font-size: medium;
}
#knifez-blog .author-icon {
  height: 96px;
}
#knifez-blog .blog-list-item {
  margin: 5px;
}
#knifez-blog .blog-list-item h4 {
  font-size: 1.8rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
#knifez-blog .blog-list-item h4 a {
  color: #262626;
}
#knifez-blog .blog-list-item h4 a:visited {
  color: #262626;
}
#knifez-blog .blog-list-item h4 a:hover {
  color: #e5494c;
}
#knifez-blog .blog-list-item h4 span {
  font-weight: lighter;
}
#knifez-blog .blog-list-item .tag {
  font-size: 1.4rem;
  padding-top: 5px;
  color: #606266;
}
#knifez-blog .blog-list-item .tag span {
  margin: 5px;
}
#knifez-blog .hot-blogs h4,
#knifez-blog .recommend-blog h4 {
  padding: 20px 10px 10px 24px;
  position: relative;
}
#knifez-blog .hot-blogs h4 i,
#knifez-blog .recommend-blog h4 i {
  color: #512bd4;
  margin-right: 5px;
}
#knifez-blog .hot-blogs h4::before,
#knifez-blog .recommend-blog h4::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -12px;
  display: block;
  width: 39px;
  height: 2px;
  background: #8167E0;
  margin-bottom: 15px;
}
#knifez-blog .hot-blogs li a,
#knifez-blog .recommend-blog li a {
  font-size: 1.6rem;
  color: #262626;
}
#knifez-blog .hot-blogs li a:visited,
#knifez-blog .recommend-blog li a:visited {
  color: #071018;
}
#knifez-blog .hot-blogs li a:hover,
#knifez-blog .recommend-blog li a:hover {
  color: #e5494c;
}
#knifez-blog .recommend-blog li {
  margin: 15px 5px;
}
#knifez-blog .recommend-blog li a::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #fd7e14;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
#knifez-blog .ptag span {
  margin: 10px;
  border-left: 6px solid #512bd4;
}
